
.image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content:space-between;
    padding: 10px;
    gap: 5px;
}
.image-container h4{
    margin: 0px;
}
.image-container h5{
    margin: 0px;
}
.image{
    height:350px;
    width: 300px;
    border: 2px solid rgb(234, 216, 216);
    border-radius: 10px;
    background-color: rgb(155, 223, 223);
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out; 
}

.image img{
    height: 80%;
    width: 80%;
    padding: 10px;
    background-color: #f0f8ff;
}

.cart-button{
    outline: none;
    height: auto;
    width: auto;
    background-color: #1b1d2a;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.cart-button:hover{
    box-shadow: 0 0 10px rgba(233, 231, 231, 0.5);
}